<!DOCTYPE html>
<html lang="en">
<!--script标签的引入-->
<script src="lib/http_unpkg.com_vue@next.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id = "root"></div>
</body>

</html>
<script>
    Vue.createApp(
        {
            // ES6中对象方法的简写，方法名：function(){}
            data(){
              return {
                  content: "hello,vue",
                  count: 0,
                  flag: "显示",
                  display: true,
                  todoList: ["Vue","SpringBoot","SpringCloud"],
                  todo:""
              }
            },
            mounted(){
              //   ES6中的箭头函数
              setInterval(
                  ()=>{this.count++},1000
                        )
            },
            methods:{
                buttonClick(){
                    if (this.flag === "显示"){
                        this.flag = "隐藏"
                    }else {
                        this.flag = "显示"
                    }
                    this.display = !this.display
                },
                submitVModel(){
                    this.todoList.push(this.todo)
                    this.todo = ''
                }
            },
            template: `<div v-if="display">{{content}},{{count}}</div>
                       <button v-on:click="buttonClick">{{flag}}</button>
                        <div v-for="item of todoList">{{item}}</div>
                        <input type="text" v-model="todo">
                        <button v-on:click="submitVModel">提交</button>
            `
        }
    ).mount("#root")

</script>